body {
  font-family: 'System UI', sans-serif;
  margin: 0;
  padding: 2rem;
  background: #111;
  color: #eee;
}

header h1 {
  margin: 0 0 0.5rem 0;
}

a.title{
  color: #eee;
  font-size: 2rem;
  text-decoration: none;
}

header p {
  margin: 0 0 2rem 0;
  color: #aaa;
}

/* Flexbox grid */
.experiments {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

/* Experiment cards */
.exp {
  /* background: #1a1a1a; */
  padding: 1rem;
  border-radius: 8px;
  flex: 1 1 calc(33% - 2rem);
  min-width: 220px;
  max-width: 400px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* .exp:hover {
  transform: translateY(-4px);
} */

.exp .meta,
.exp .desc {
  opacity: 0;
  transform: translateY(10px); /* start slightly lower */
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin: 0.5rem 0 0 0;
  pointer-events: none; /* prevent accidental hover */
}

.exp:hover .meta,
.exp:hover .desc {
  opacity: 0.8;
  transform: translateY(0); /* slide up to position */
}


/* Hover preview */
.preview {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70vw;
  max-width: 800px;
  height: 70vh;
  transform: translate(-50%, -50%); /* no scale */
  opacity: 0; /* hidden initially */
  z-index: 9999;
  background: none;
  border-radius: 12px;
  overflow: hidden;
 
  transition: opacity 0.6s ease; /* only fade */
  pointer-events: none; /* prevents hover flicker */
}

.preview.show {
  opacity: 1; /* fade in */
}

.preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}